h1 {
    color: blue;
    background-color: black;
    font-family: verdana;
    font-size: 300%;
    text-shadow: 2px 2px red;
}

p{
    color: red;
    text-shadow: 2px 2px 5px rgb(47, 0, 255);
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #2e12cc;
    padding: 8px;
  }
  
  .styled-table th {
    background-color: #7c5151;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .styled-table tfoot th {
    background-color: #e6e6e6;
  }
  
  .styled-table th, .styled-table td {
    text-align: center;
  }
  