h1 {
    color: blue;
    background-color: black;
    font-family: verdana;
    font-size: 300%;
    text-shadow: 2px 2px red;
}

p{
    color: red;
    text-shadow: 2px 2px 5px rgb(47, 0, 255);
}
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .column {
    float: left;
    width: 100%;
    padding: 20px;
  }
  
  /* Desktop */
  @media only screen and (min-width: 1024px) {
    .column {
      width: 25%;
    }
  }
  
  /* Tablet */
  @media only screen and (max-width: 1023px) {
    .column {
      width: 50%;
    }
  }
  
  /* Mobile */
  @media only screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  